{
  "printWidth": 90,
  "quoteProps": "preserve",
  "tabWidth": 2,
  "importOrder": [
    "^react(.*)",
    "<THIRD_PARTY_MODULES>",
    "@/app/(.*)",
    "@/layouts/(.*)",
    "@/components/(.*)",
    "@/context/(.*)",
    "@/mocks/(.*)",
    "@/styles/(.*)",
    "@/utils/(.*)",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "importOrderParserPlugins": [
          "typescript"
        ]
      }
    }
  ],
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ]
}