.h-100 {
  height: 100%;
}

.h-auto {
  height: auto;
}

.w-100 {
  width: 100%;
}

// font-size 
.fs-xxs {
  font-size: 11px;
}

.fs-xs {
  font-size: 12px;
}

.fs-sm {
  font-size: 14px;
}

.fs-normal {
  font-size: 16px;
}

.fs-md {
  font-size: 20px;
}

// position
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

// display
.flex {
  display: flex !important;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

// spacing
.mv1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.mv2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mv3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mh1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mh2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mh3 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.pv1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.pv2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.ph1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.ph2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.ph3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.mr1 {
  margin-right: 0.25rem;
}

.mr2 {
  margin-right: 0.5rem;
}

.mr3 {
  margin-right: 1rem;
}

.ml1 {
  margin-left: 0.25rem;
}

.ml2 {
  margin-left: 0.5rem;
}

.ml3 {
  margin-left: 1rem;
}

.mt-12 {
  margin-top: 12px;
}

.mt-24 {
  margin-top: 24px;
}

.mh-12 {
  margin-left: 12px;
  margin-right: 12px;
}

.mh-24 {
  margin-left: 24px;
  margin-right: 24px;
}

.mv-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.mv-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

// opacity
.o-85 {
  opacity: 85%
}

.o-65 {
  opacity: 65%
}

.o-45 {
  opacity: 45%
}

// border-color
.border-black {
  border-color: black;
}

.border-white {
  border-color: white;
}

.border-lightgray {
  border-color: rgba(255, 255, 255, 0.12);
}

.line-through {
  text-decoration: line-through;
}

.text-center {
  text-align: center;
}

.whitespace-normal {
  white-space: normal;
}